@page "/"
@using WarmupGen.Core

<PageTitle>Generate Warmup</PageTitle>

<h1>Warmup</h1>

<EditForm Model="@CurrentWarmup">

	<button class="btn btn-primary mb-4" @onclick="() => CurrentWarmup.AddSegment()"><span class="oi oi-plus" aria-hidden="true"></span></button>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Exercise</th>
				<th scope="col">Targets</th>
				<th scope="col">Techniques</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			@foreach (var segment in CurrentWarmup.Segments)
			{
				<tr>

					<td>@segment.Exercise.Name</td>
					<td>
						<InputSelect @bind-Value="segment.Target" class="form-select">
							<option value="">Any</option>
							@foreach (var target in Generator.Targets)
							{
								<option value="@target">@target</option>
							}
						</InputSelect>
					</td>
					<td>
						<InputSelect @bind-Value="segment.Technique" class="form-select">
							<option value="">Any</option>
							@foreach (var technique in Generator.Techniques)
							{
								<option value="@technique">@technique</option>
							}
						</InputSelect>
					</td>

					<td>
						<button class="btn btn-primary mb-4" @onclick="() => CurrentWarmup.Remove(segment)"><span class="oi oi-trash" aria-hidden="true"></span></button>
					</td>

				</tr>
			}
		</tbody>
	</table>
</EditForm>

@code {
	const int defaultSegmentCount = 5;
	private Warmup? _warmup;

	Warmup CurrentWarmup
	{
		get
		{
			if (_warmup is null)
			{
				_warmup = Generator.GenerateWarmup(defaultSegmentCount);
			}
			return _warmup;
		}
	}
}
