@page "/"
@using WarmupGen.Core

<PageTitle>Generate Warmup</PageTitle>

<h1>Warmup</h1>

<EditForm Model="@CurrentWarmup">

	<button class="btn btn-primary mb-4" @onclick="() => CurrentWarmup.AddSegment()"><span class="oi oi-plus" aria-hidden="true"></span></button>

	<table class="table tableWarmup">
		<thead>
			<tr>
				<th scope="col">Exercise</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>

			@code {
		int n = 0;
			}

			@foreach (var segment in CurrentWarmup.Segments)
			{
				string collapseId = $"collapse{n++}";

				<tr>

					<td>@segment.Exercise.Name</td>

					<td>
						<button class="btn btn-primary btn-sm" @onclick="() => CurrentWarmup.Reroll(segment)"><span class="oi oi-reload" aria-hidden="true"></span></button>
					</td>

					<td>
						<button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId"><span class="oi oi-caret-bottom" aria-hidden="true"></span></button>
					</td>

					<td>
						<button class="btn btn-primary btn-sm" @onclick="() => CurrentWarmup.Remove(segment)"><span class="oi oi-trash" aria-hidden="true"></span></button>
					</td>

				</tr>

				<tr class="collapse" id="@collapseId">
					<td colspan="4">
						<table class="table table-borderless">
							<tr>
								<td>
									Target:
								</td>
								<td>
									<InputSelect @bind-Value="segment.Target" class="form-select">
										<option value="">Any</option>
										@foreach (var target in Generator.Targets)
										{
											<option value="@target">@target</option>
										}
									</InputSelect>
								</td>
							</tr>
							<tr>
								<td>
									Technique:
								</td>
								<td>
									<InputSelect @bind-Value="segment.Technique" class="form-select">
										<option value="">Any</option>
										@foreach (var technique in Generator.Techniques)
										{
											<option value="@technique">@technique</option>
										}
									</InputSelect>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			}
		</tbody>
	</table>
</EditForm>

@code {
	const int defaultSegmentCount = 5;
	private Warmup? _warmup;

	Warmup CurrentWarmup
	{
		get
		{
			if (_warmup is null)
			{
				_warmup = Generator.GenerateWarmup(defaultSegmentCount);
			}
			return _warmup;
		}
	}
}
